<%-include('cabecalho.ejs')%>
<h1>Painel Administrativo</h1>
<ul>
  <li><a href="/musica/lst">Gerenciar Músicas</a></li>
  <li><a href="/artista/lst">Gerenciar Artistas</a></li>
  <li><a href="/genero/lst">Gerenciar Gêneros</a></li>
  <li><a href="/album/lst">Gerenciar Álbuns</a></li>
</ul>
<%-include('rodape.ejs')%>
