<%-include('cabecalho.ejs')%>
<h1>Página do Cliente</h1>
<ul>
  <li><a href="/musica/public">Músicas</a></li>
  <li><a href="/artista/public">Artistas</a></li>
  <li><a href="/genero/public">Gêneros</a></li>
  <li><a href="/album/public">Álbuns</a></li>
</ul>
<%-include('rodape.ejs')%>
